@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll-div {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.horizontal-scroll-div::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.competition-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.competition-card {
  min-width: 300px;
}

@media screen and (max-width: 480px) {
  /* .competition-card {
    min-width: 300px;
  } */

  .competition-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .competition-card {
    min-width: 260px;
  }

  .competition-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
